<h1>Edit Post</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for posts</p>
    <ul>
      <li>Must have at least 5 characters in the title.</li>
      <li>Must have at least 20 characters in the body.</li>
      <li>Must have an associated topic and user.</li>
    </ul>
  </div>
  <div class="col-md-8">
     <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
  </div>
</div>