// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  text-decoration:none;
  text-align:center; 
  padding:10px 10px; 
  border:solid 1px #f58770; 
  border-radius: 25px; 
  font:14px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  color:white;
  background: Blue;
 }

.social-btn:hover {
  text-decoration: none;
  color:white;
	background-color:darkblue;
  
}
.social-btn:active {
  border:solid 3px #f58770; 
  position:relative;
	top:1px;
}
