<% if policy(Vote.new).create? %>
<div>
  <div class="vote-arrows pull-left">
    <div class="vote-arrows">
      <div><%= link_to " ", post_up_vote_path(post), class: 'glyphicon glyphicon-plus', method: :post %></div>
      <div><strong><%= post.points %></strong></div>
      <div><%= link_to " ", post_down_vote_path(post), class: 'glyphicon glyphicon-minus', method: :post %></div>
    </div>
  </div>
</div>
<% end %>